
#header,
#footer {
    position: fixed;
    left: 0;
    right: 0;
    color: black;
}

#header {
    top: 0;
}

#footer {
    bottom: 0;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    border-top: 2px solid black;
    padding-top: 7;
}

.page-number {
    text-align: center;
}

.page-number:before {
    /* content: "Page " counter(page); */
    content: counter(page);
}

.page-break {
    page-break-after: always;
}
